html {
    background: #2466AC;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.second-hand {
    height: 4px;
}

.min-hand {
    height: 6px;
}

.hour-hand {
    height: 8px;
    width: 30%;
    transform: translate(67%) rotate(90deg);
    transform-origin: 100%;
}
